/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Styles for the body */

body {
	font-family: 'Montserrat', sans-serif;
	color: #5E5E5E;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

h4 {color: #FFFFFF}
text-

h2 {color: #FFFFFF}

.resume-header {
    background-color: #F2CFBB;
}

.resume-main {
	background-color: #D2D9C7;

}

.resume-aside {
	background-color: #EADED5;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "-";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #C97D68;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.language-level {
	border-color: #7C7C7C !important;
}

.language-progress {
	background-color:#C97D68
}
/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.w-80 {
}
.w-120 {
}
